# gradle
.gradle/
build/
out/
*.gradle.kts.bak

# ide
.idea/
.vscode/
*.iml
*.iws
*.ipr

# build artifacts
*.class
*.jar
*.aar
*.apk
*.exe

# local
local.properties
*.log
*.stacktrace
.DS_Store
gradle-8.9-bin.zip
gradle-8.9/
